body {
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 16px;
}
.light-gray {
    color: #999999;
}
.green {
    color: green;
}
.red {
    color: red;
}