body {
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 10px;
    color: white;
}
.palette {
    margin-bottom: 30px;
}