.container {
    width: 250px;
    padding: 30px;
    background-color: #f7f7fc;
    text-align: center;
    border-radius: 10px;
    margin: 150px auto;
    box-shadow: 0 5px 20px rgb(0 0 0 / 30%);
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Muli", sans-serif;
    background-color: #a5d6a7;
    color: #242e4c;
}

.fruit {
    width: 160px;
    background-color: #ffffff;
    border: 1px solid #ebebf2;
    border-radius: 100px;
    padding: 5px;
    margin: 0 auto 10px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
     
     
   